# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# Modeling outputs
modeling/data/
modeling/predictions/

# Backend
backend/.env

# Frontend
frontend/.env.local
frontend/node_modules/
frontend/.next/

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db
